{% extends 'shop/base.html' %} 
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}
   <div class="container">
      <div class="row" style="margin-top: 6%">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-6 text-right">
                        <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                            <div style="min-width: 18rem">
                                <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="{{ product.name }}" style="height: 170px; width: auto">
                        <h3>{{ product.name }}</h3>
                        <h6>{{ product.category }}</a></h6>
                        <p class="text-muted">Kshs. {{ product.price }}</p>
                        <p>{{ product.description|safe|linebreaksbr }}</p><br>
                        <p><a href="{{ product.category.get_absolute_url }}">back</a></p>
                    </div>
                </div>
              </div>


          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->
      </div><!-- /.row -->

    </div><!-- /.container -->
{% endblock %}